<% if @project_main.present? %>
  <div class="main-back" style="background-image:url(<%= @project_main.main_picture %>)">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="text white">
            <div>
              <div>
                <%= @project_main.title %>
              </div>
            </div>
          </div>
          <%= link_to 'See more', project_path(@project_main), class: 'btn' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% if @project_users_top_one.present? %>
          <div class="huge-block">
            <h3>Loved by users</h3>
            <%= render partial: 'projects/huge_block', collection: [@project_users_top_one] %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="blocks-line">
          <h3><%= link_to 'Popular', search_path(order_by: 'popularity', search: '') %></h3>
          <% if @projects_popular_random.present? %>
            <div class="row">
              <%= render partial: 'projects/vertical_block', collection: @projects_popular_random %>
            </div>
          <% end %>
          <div class="row">
            <div class="col-xs-12">
              <%= link_to 'See all', search_path(order_by: 'popularity', search: ''), class: 'btn-hollow' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="blocks-line">
          <h3><%= link_to 'Watch finished projects', search_path(result_present: true, search: '') %></a></h3>
          <% if @projects_finished.present? && @projects_finished.count > 0 %>
            <div class="row">
              <%= render partial: 'projects/vertical_block', collection: @projects_finished, locals: { minified: true } %>
            </div>
          <% end %>
          <div class="row">
            <div class="col-xs-12">
              <%= link_to 'See all', search_path(result_present: true, search: ''), class: 'btn' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>