<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="search-ifc">
        <%= form_tag search_path, method: :get, id: "search-form" do %>
          <%= text_field_tag :search, nil, placeholder: "Search by title" %>
          <div class="search-options">
            <!-- <a data-function="slide" data-target="#advanced-search">Advanced search</a> -->
            <a data-toggle="collapse" href="#advanced-search">Advanced search</a>
            <div id="advanced-search" class="collapse">
              <div class="row">
                <div class="col-sm-4 col-md-3">
                  <div id="categories">
                    <h5>Choose categories</h5>
                    <ul>
                      <% Category.all.each do |category| %>
                        <li>
                          <%= check_box_tag 'categories[]', category.id, false, id: 'category_' + category.id.to_s %>
                          <%= label_tag 'category_' + category.id.to_s, category.title %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                  <div id="ratings-order">
                    <h5>Order by</h5>
                    <ul>
                      <li>
                        <%= radio_button_tag 'order_by', '0' %>
                        <%= label_tag 'order_by_0', 'preview rating' %>
                      </li>
                      <li>
                        <%= radio_button_tag 'order_by', '1' %>
                        <%= label_tag 'order_by_1', 'admins rating' %>
                      </li>
                      <li>
                        <%= radio_button_tag 'order_by', '2' %>
                        <%= label_tag 'order_by_2', 'result rating' %>
                      </li>
                      <li>
                        <%= radio_button_tag 'order_by', 'popularity' %>
                        <%= label_tag 'order_by_popularity', 'popularity' %>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                  <div id="ratings-result">
                    <h5>Result</h5>
                    <ul>
                      <li>
                          <%= check_box_tag 'result_present', true, false, id: 'result_present' %>
                          <%= label_tag 'result_present', 'present' %>
                      </li>
                      <li>
                          <%= check_box_tag 'result_unpresent', true, false, id: 'result_unpresent' %>
                          <%= label_tag 'result_unpresent', 'unpresent' %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row" id="projects-block">
    <%= render partial: 'projects/vertical_block', collection: @projects %>
  </div>
  <div id="infinite-scrolling">
    <%= will_paginate @projects %>
  </div>
</div>

<%= render partial: 'search_link_parse' %>