<h2>User's show</h2>
<h3>User's mail:</h3>
<%= mail_to @user.email %>

<h3>Projects:</h3>
<% @projects.each do |p| %>
	<%= link_to p.title, p %>
<% end %>

<h4>Ratings:</h4>
<span>Пользовательский рейтинг проектов: </span> <%= @projects_rating.round %>%<br>
<span>Рейтинг востребованности проектов: </span> <%= @demand_rating.round %>%<br>
<span>Рейтинг результативности проектов: </span> <%= @resulting_rating.round %>%<br>

<h3>Comments:</h3>
<%= render partial: 'comments/comments', locals: {comments: @comments} %>

<h3>His comments:</h3>
<%= render partial: 'comments/comments', locals: {comments: @own_comments, show_direction: true, hide_mail: true} %>

<% if current_user %>
	<h3>Leave a comment:</h3>
	<%= render partial: 'comments/form', locals: {commentable_type: controller_name.classify, commentable_id: @user.id} %>
<% else %>
	<h2>Login to leave a comment</h2>
<% end %>