<div class="grey-back project-page page-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="avatar inline-block">
          <%= image_tag @user.avatar %>
        </div><br>
        <%= mail_to @user.email %>

        <% if project.result? %>
          <div class="rating-block">
            <div class="rating-circle">
              <%= image_tag "rating_#{project.get_rounded_rating :pledgers}.png" %>
              <div class="percents">
                <%= project.result_rating.round %>%
              </div>
            </div>
            Result rating
          </div>
        <% end %>
      </div>
      <div class="col-sm-6">
        <h3>Projects:</h3>
        <% @projects.each do |p| %>
        	<%= link_to p.title, p %>
        <% end %>

        <h4>Ratings:</h4>
        <span>Пользовательский рейтинг проектов: </span> <%= @users_rating.round %>%<br>
        <span>Рейтинг востребованности проектов: </span> <%= @demand_rating.round %>%<br>
        <span>Рейтинг результативности проектов: </span> <%= @result_rating.round %>%<br>

        <h3>Comments:</h3>
        <%= render partial: 'comments/comments', locals: {comments: @comments} %>

        <h3>His comments:</h3>
        <%= render partial: 'comments/comments', locals: {comments: @own_comments, show_direction: true, hide_mail: true} %>

        <% if current_user %>
        	<h3>Leave a comment:</h3>
        	<%= render partial: 'comments/form', locals: {commentable_type: controller_name.classify, commentable_id: @user.id} %>
        <% else %>
        	<h2>Login to leave a comment</h2>
        <% end %>
      </div>
    </div>
  </div>
</div>