<h2>User's show</h2>

<h3>Comments:</h3>
<div id="comments">
	<% @comments.each do |c| %>
		<div class="comment">
			<span>
				<%= User.find(c.user_id).email %>
			</span>
			<p>
				<%= c.content %>
			</p>
		</div>
	<% end %>
</div>

<h3>His comments:</h3>
<div id="comments">
	<% @own_comments.each do |c| %>
		<div class="comment">
			<span>
				<%= User.find(c.user_id).email %>
			</span>
			<p>
				<%= c.content %>
			</p>
		</div>
	<% end %>
</div>

<h3>Leave a comment:</h3>
<%= form_for @user do |f| %>
	<% f.fields_for :comments do |ff| %>
		<%= ff.text_field :content %>
		<%= ff.submit %>
	<% end %>
<% end %>