<div class="progress">
  <div class="line">
    <% if project.progress >= 100 || project.funded %>
      <span>Funded!</span>
    <% elsif !project.opened && project.published %>
      <span>Closed!</span>
    <% end %>
    <div class="done" style="width:<%= project.progress %>%;"></div>
  </div>
  <div class="info">
    <div>
      <%= 100 * project.funds / project.goal %>%<br>funded
    </div>
    <div>
      $<%= project.goal %><br>goal
    </div>
    <div>
      <% if project.deadline && project.opened %>
        <% if !project.opened || project.days_left <= 0 %>
          Ended
        <% else %>
          <%= project.days_left %><br>
          <%= project.days_left == 1 ? 'day' : 'days' %>
          left
        <% end %>
      <% end %>
    </div>
  </div>
</div>