<% project = vertical_block %>
<% if local_assigns[:minified] %>
  <div class="col-md-6" data-project-id="<%= project.id %>">
<% else %>
  <div class="col-md-4" data-project-id="<%= project.id %>">
<% end %>
  <div class="vertical-block">
    <div class="pic">
      <%= link_to project do %>
        <%= image_tag project.main_picture %>
      <% end %>
    </div>
    <div class="content">
      <h4><%= link_to project.title, project_path(project) %></h4>
      <p>
        <% if local_assigns[:minified] %>
          by <%= project.user.email %>
        <% else %>
          <%= project.description %>
        <% end %>
      </p>
      <% unless local_assigns[:minified] %>
        <%= render partial: 'projects/progress', locals: { project: project } %>
        <%= render partial: 'projects/ratings', locals: { project: project } %>
      <% end %>
    </div>
  </div>
</div>