<div class="grey-back project-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      	<div class="project-links">
      		<% if user_signed_in? && @project.user_id == current_user.id %>
						<%= link_to 'Edit project', edit_project_path unless @project.published %>
						<%= link_to 'Publish project', publish_project_path unless @project.published %>
						<% if @project.published && @project.opened %>
							<%= link_to 'Create an update', new_project_update_path(@project) %>
							<%= link_to 'Close project', finish_project_path(@project) %>
						<% end %>
						<% if @project.funded && !@project.result %>
							<%= link_to 'Upload a result', edit_project_path %>
						<% end %>
					<% end %>
      	</div>
        <div class="project-header">
          <div class="row">
            <div class="col-md-7">
              <h1>
                <%= @project.title %>
                <% unless @voted %>
                  <div id="rating-buttons">
                    <%= link_to like_project_url(@project), remote: true, method: :post, class: 'rating-button like' do %>
                      <%= image_tag '/like.png' %>
                    <% end %>
                    <%= link_to dislike_project_url(@project), remote: true, method: :post, class: 'rating-button dislike' do %>
                      <%= image_tag '/dislike.png' %>
                    <% end %>
                  </div>
                <% end %>
              </h1>
              <div class="published-at">
                <% if @project.published %>
                  Published at: <%= local_time(@project.published_at) %><br>
                <% end %>
                Category: <%= @project.category.title %>
              </div>
            </div>
            <div class="col-md-5">
              <div class="user-info">
                <div class="line">
                  <%= link_to @project.user, class: 'avatar' do %>
                    <%= image_tag @project.user.avatar %>
                  <% end %>
                </div>
                <div class="line">
                  <span>by <%= link_to @project.user.email, @project.user %></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="project-info">
          <div class="row">
            <div class="col-md-7">
              <div class="pic">
              	<%= image_tag @project.main_picture %>
              </div>
            </div>
            <div class="col-md-5">
              <div class="text-center">
                <%= link_to 'Support!', new_project_pledge_path(@project), class: 'support-link' unless @project.user == current_user || !@project.opened %><br>
                <% if @project.pledgers.count > 0 %>
                  <%= link_to 'See sponsors', project_pledges_path(@project), class: 'see-sponsors', remote: true %>
                <% end %>
              </div>
            	<%= render partial: 'projects/progress', locals: { project: @project } %>
              <div id="ratings">
                <%= render partial: 'projects/ratings', locals: { project: @project } %>
              </div>
            </div>
          </div>
        </div>
        <p>
        	<%= @project.description %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="project-contents">
  <div class="tabs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <% if @project.updates %>
              <li class="active"><a href="#updates" data-toggle="tab">Updates</a></li>
            <% end %>
            <li>
              <a href="#comments-block" <% unless @project.updates %>class="active"<% end %> data-toggle="tab">Comments</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="tab-content">
        	<% if @project.updates %>
	          <div class="tab-pane fade in active" id="updates">
	            <div class="project-updates">
	            	<% @project.updates.each do |update| %>
		              <div class="project-update">
		                <div class="project-update-info">
		                  <%= update.created_at.strftime "%B %d" %><br>
		                  <%= update.created_at.strftime "%Y" %>
		                </div>
		                <div class="project-update-content">
		                  <h3>
		                  	<%= link_to update.title, project_update_path(@project, update), remote: true %>
		                  	<%= link_to project_update_path(@project, update), remote: true do %>
		                  		<span><%= update.comments.count %> comments</span>
		                  	<% end %>
		                  </h3>
		                  <%= image_tag update.main_picture %>
		                  <p>
		                    <%= update.description %>
		                  </p>
		                </div>
		              </div>
	              <% end %>
	            </div>
	          </div>
	        <% end %>
          <div class="tab-pane fade <% unless @project.updates %>in active<% end %>" id="comments-block">
            <% if current_user %>
              <h3>Leave a comment:</h3>
              <%= render partial: 'comments/form', locals: {commentable_type: controller_name.classify, commentable_id: @project.id} %>
            <% else %>
              <h3>Login to leave a comment</h3>
            <% end %>
            <%= render partial: 'comments/comments', locals: {comments: @project.comments} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="project-modal" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

    </div>
  </div>
</div>

<% if @project.result %>
	<div id="result">
		<h2>Result:</h2>
		<%= @project.result %><br><br>
	</div>
<% end %>