<br>
<% if user_signed_in? && @project.user_id == current_user.id %>
	<%= link_to 'Редактировать проект', edit_project_path %>
	<%= link_to 'Опубликовать проект', publish_user_project_path unless @project.published %>
	<% if @project.published %>
		<%= link_to 'Создать апдейт', new_project_update_path(@project) %>
	<% end %>
<% end %>

<%= image_tag @project.main_picture %>
<%= @project.main_video %>
<h1><%= @project.title %></h1>
<%= number_to_currency @project.funds %> out of <%= @project.goal %>
<%= link_to 'See Pledgers', project_pledges_path(@project) %>
<% if @deadline %>
	Time left: <%= distance_of_time_in_words Time.current, @deadline %>
<% end %>
<p>
	<%= @project.description %>
</p>
<% if @project.published %>
	Published at: <%= @project.published_at.to_time %>
<% end %>

<h3>Updates</h3>
<% @updates.each do |u| %>
	<%= link_to u.title, [@project, u] %>
	<%= u.created_at %>
	<p>
		<%= u.description %>
	</p> 
<% end %>

<h3>Comments:</h3>
<%= render partial: 'comments/comments', locals: {comments: @comments} %>

<% if current_user %>
	<h2>Leave a comment:</h2>
	<%= render partial: 'comments/form', locals: {commentable_type: controller_name.classify, commentable_id: @project.id} %>
<% else %>
	<h2>Login to leave a comment</h2>
<% end %>