<br>
<% if @project.user_id == current_user.id %>
	<%= link_to 'Редактировать проект', edit_user_project_path %>
	<%= link_to 'Опубликовать проект', publish_user_project_path unless @project.published %>
<% end %>

<%= image_tag @project.main_picture %>
<%= @project.main_video %>
<h1><%= @project.title %></h1>
<%= number_to_currency @project.funds %> out of <%= @project.goal %>
<% if @deadline %>
	Time left: <%= distance_of_time_in_words Time.current, @deadline %>
<% end %>
<p>
	<%= @project.description %>
</p>
<% if @project.published %>
	Published at: <%= @project.published_at.to_time %>
<% end %>