<br>
<h2><%= link_to @project.title, project_path(@project) %></h2>
<h1>Project's Update</h1>
<h2><%= @update.title %></h2>
<%= @update.created_at %>
<p><%= @update.description %></p>

<h3>Comments:</h3>
<%= render partial: "comments/comments", locals: {comments: @comments} %>

<h3>Leave comment:</h3>
<%= render partial: "comments/form", locals: {commentable_type: controller_name.classify, commentable_id: @update.id} %>