<div class="grey-back project-page page-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Edit account info</h2>

        <%= form_for @account do |f| %>
          <div class="form-block">
            <%= f.label :card_number %>
            <%= f.text_field :card_number %>
          </div>

          <div class="form-block">
            <%= f.label :card_holder_first_name %>
            <%= f.text_field :card_holder_first_name %>
          </div>

          <div class="form-block">
            <%= f.label :card_holder_second_name %>
            <%= f.text_field :card_holder_second_name %>
          </div>
          
          <div class="form-block">
            <%= f.submit 'Submit', class: 'btn' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>